
.features{
    padding: 4rem 0rem 4rem 0rem;
    border: solid red 1px;
}

.activity-preview{
    padding: 4rem 0rem 4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



