

@font-face {

    src : url(fonts/stenberg_itc.ttf);
    font-family: stenberg;

}

@font-face {
    font-family: nightclub;
    src: url(fonts/Nightclub\ BTN\ Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --backgroundBlack: #121212;
    --backgroundGray: #292929;
    
    --error: #CF6679;

    --primary: #5CDB95;
    --primaryVariant: #05386B;
    --secondary: #379683;

    font-size: 16px;

}



.wrapper{
    max-width: 100%;
    margin: 0 auto;
}

body,
html{
    background-color: white;
}




/* headings */
h1{
    padding: 1rem;
    font-weight: 500;
    font-size: clamp(3rem, 5vw, 4rem);
}

h2{
    padding: 1rem;
    font-weight: 400;
    font-size: clamp(2rem, 5vw, 3,5rem);
}

h3{
    padding: 1rem;
    font-weight: 300;
    font-size: clamp(1rem, 5vw, 1,5rem);
}



/* header menu mobile*/
.popout-menu{
    width: 100%;
    height: 100vh;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;

    z-index: 10;
    background-color: var(--primary);
}


/* header desktop*/
.header{
    
    /*filter: drop-shadow(0rem .25rem .5rem rgba(10, 10, 10, 0.2));*/

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--primary);
}



.menu{
    display: flex;
    justify-content: space-evenly;
}

.menu-button{
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--primary);
    color: var(--primaryVariant);
    border: white solid 0px;
}

.menu-button:hover{
    background-color:var(--primaryVariant);
    color: white;
    cursor: pointer;
}

.menu-section{
    display: none;
}

.logo ,.hamburger{
    min-width: 2rem;
    min-height: 2rem;
    height: 2rem;
    width: 2rem;
    border: white solid 0px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%; 
}

.logo:hover ,.hamburger:hover{
    background-color:var(--primaryVariant);
    cursor: pointer;
}

.header-background{
    background-color:var(--primary);
}













/* hero */
.hero-section{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0rem 0rem;
    padding: 8rem 1rem 8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero-text{
    font-family: 'stenberg', sans-serif;
    color: white;
    text-align: center;
}

.hero-logo{

    font-family: 'nightclub' sans-serif;
    min-height: 10rem;
    min-width: 10rem;
    height: 10rem;
    width: 10rem;

    background-color: white;
    border-radius: 50%;

    margin-bottom: 4rem;

}







/* offering */
.offering-section{
    padding: 4rem 0rem 4rem 0rem;

}

.card-section{
    display: flex;
    flex-direction: column;
}

.button-section{
    display: flex;

}



/*location-plan*/
.location-plan{
    padding: 4rem 0rem 4rem 0rem;

}



/* activitys */

.activity-section{
    padding: 4rem 0rem 4rem 0rem;
    background-color: var(--primary);
}

.activity-text{
    font-family: 'stenberg', sans-serif;
    color: black;
    text-align: center;
    max-width: 100%;
    margin: 0rem auto;

}

.activity-card-left, .activity-card-right{
    margin: 1rem;
    border: gray solid 1px;
    background-color: white;
}

.card-description{

    padding: 1rem;
}


/* call-to-action*/
.call-to-action-section{
    padding: 4rem 0rem 4rem 0rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


/* footer */
.footer{
    
    /*filter: drop-shadow(0rem .25rem .5rem rgba(10, 10, 10, 0.2));*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:var(--primary);
}

.footer-background{
    background-color:var(--primary);
}



.footer > *{
    flex: 1;
}

.copyright{
    text-align: center;
    color: white;
}




@media only screen and (min-width: 900px) {


    /* header */
    .hamburger{
        display: none;
    }

    .menu-section{
        display: flex;
    }



    /* offering */
    .button-section{
        display: flex;
        flex-direction: column;
    }


    .call-to-action{
        margin: 2rem;
    }

    .wrapper{
        width: 1080px;
        max-width: 90%;
        margin: 0 auto;
    }

    .menu-button{
        font-size: 1rem;
    }





    /* activity */
    .activity-card-right{
        display:flex;
        flex-direction: row;
        align-items: center;
        max-height: 20rem;

    }

    .activity-card-left{
        display:flex;
        flex-direction: row-reverse;
        align-items: center;
        max-height: 20rem;

    }

    .activity-text{
        text-align: left;
    }

    .activity-card-left > *{
        flex: 1;
    }

    .activity-card-right > *{
        flex: 1;
    }





    /* footer */
    .footer{
        display: flex;
        flex-direction: row;
    }


}
