

@font-face {

    src : url(fonts/stenberg_itc.ttf);
    font-family: stenberg;

}


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}






:root{
    --backgroundBlack: #121212;
    --backgroundGray: #292929;
    
    --error: #CF6679;

    --primary: #5CDB95;
    --primaryVariant: #05386B;
    --secondary: #379683;

    font-size: 16px;

}

.wrapper{
    max-width: 100%;
    margin: 0 auto;
}

body,
html{
    background-color: white;
}

h1{

    padding: 1rem;
    font-weight: 500;
    font-size: clamp(3rem, 5vw, 4rem);
}

h2{
    padding: 1rem;
    font-weight: 400;
    font-size: clamp(2rem, 5vw, 3,5rem);
}

h3{
    padding: 1rem;
    font-weight: 300;
    font-size: clamp(1rem, 5vw, 1,5rem);
}

.header{
    filter: drop-shadow(0rem .25rem .5rem rgba(10, 10, 10, 0.2));

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--primary);
}

.menu{
    display: flex;
    justify-content: space-evenly;
}

.menu-button{
    font-size: 0.7rem;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--primary);
    color: var(--primaryVariant);
    border: white solid 0px;
}

.menu-button:hover{
    background-color:var(--primaryVariant);
    color: white;
    cursor: pointer;
}

.menu-section{
    display: none;
}





.logo ,.hamburger{
    min-width: 2rem;
    min-height: 2rem;
    height: 2rem;
    width: 2rem;
    border: white solid 0px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.logo:hover ,.hamburger:hover{
    background-color:var(--primaryVariant);
    cursor: pointer;
}





.header-background{
    background-color:var(--primary);
}

.hero-text{
    font-family: 'stenberg', sans-serif;
    color: white;
    text-align: center;
}

.offering-text{
    font-family: 'stenberg', sans-serif;
    color: black;
    text-align: center;
    max-width: 100%;
    margin: 0rem auto;
}

.offering-section{
    padding: 4rem 0rem 4rem 0rem;
}


.hero-section{
    background-image: linear-gradient( to top, rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url("images/hero-background.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0rem 0rem;
    padding: 4rem 1rem 4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-logo{

    min-height: 10rem;
    min-width: 10rem;
    height: 10rem;
    width: 10rem;

    background-color: white;
    border-radius: 50%;

    margin: 1rem;
}

.call-to-action-button{
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    background-color:var(--primary);
    color: var(--primaryVariant);
    border: black solid 0px;
}
.call-to-action-button:hover{
    background-color: var(--primaryVariant);
    color: white;
    cursor: pointer;
}








.offering-card-section{
    display: flex;
    flex-direction: column;

}


/*
hero section
*/







.about-us-section{
    background-color:var(--backgroundBlack);
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}





.call-to-action{
    color: white;
    margin: 2rem;

}

.hero-image{
    height: 35vh;
    width: 35vh;
    margin: 2rem;

}

.about-us-image{
    height: 35vh;
    width: 35vh;
    margin: 2rem;
}


.offering-card{
    width: calc(100% -2rem);
    background-color: white;
    border: solid gray 1px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    filter: drop-shadow(.25rem .25rem .5rem gray);

}


.haus-papagai-card-background-image{
    background-image: linear-gradient( to top, rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url("images/haus-papagai-background.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 20rem;
}

.haus-tukan-card-background-image{
    background-image: linear-gradient( to top, rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url("images/haus-tukan-background.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 20rem;
}

.zeltplatz-gürteltier-card-background-image{
    background-image: linear-gradient( to top, rgba(0,0,0, 0.5), rgba(0,0,0,0.5)), url("images/zeltplatz-gürteltier-background.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 20rem;
}











.card-icon{
    position: relative;
    height: 4rem;
    width: 4rem;
    top: 1rem;
    left: calc(100% - 5rem);

}






@media only screen and (min-width: 900px) {


    .hamburger{
        display: none;
    }

    .menu-section{
        display: flex;
    }

    .offering-card{
        width: calc((100%-8rem) / 3);
    }

    .offering-card-section{
        width: 100%;

        display: flex;
        flex-direction: row;
    }




    .call-to-action{
        margin: 2rem;
    }

    .offering-text{
        max-width: 70%;
    }

    .wrapper{
        width: 1080px;
        max-width: 90%;
        margin: 0 auto;
    }


}
